n8n/workflow-traitement-lead.json
{
  "name": "LeadFlow - Traitement Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadflow-traitement",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-0001",
      "name": "Webhook Lead Entrant",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "leadflow-traitement"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// ⚙️  CONFIGURATION — Remplir ces valeurs avant utilisation\n// ═══════════════════════════════════════════════════════\nconst CONFIG = {\n  ANTHROPIC_API_KEY: 'sk-ant-api03-REMPLACER',\n  BREVO_API_KEY:     'xkeysib-REMPLACER',\n  LEADFLOW_URL:      'https://REMPLACER.railway.app',   // sans slash final\n  AGENCE_NAME:       'Nom de l\\'agence',\n  AGENT_NAME:        'Prénom Nom',\n  AGENT_EMAIL:       'agent@agence.com',\n  AGENT_PHONE:       '+33XXXXXXXXX',                    // format E.164\n  SENDER_EMAIL:      'noreply@agence.com',              // email expéditeur Brevo\n};\n// ═══════════════════════════════════════════════════════\n\nconst raw  = $input.first().json;\nconst body = raw.body ? (typeof raw.body === 'string' ? JSON.parse(raw.body) : raw.body) : raw;\n\nconst contact  = body.data?.contact  || body.contact  || body;\nconst property = body.data?.property || body.property || {};\n\nconst lead = {\n  id:      'sw_' + (contact.property_id || property.id || Date.now()),\n  prenom:  contact.first_name || '',\n  nom:     contact.last_name  || '',\n  email:   contact.email      || '',\n  tel:     contact.phone      || '',\n  message: contact.message    || '',\n  source:  contact.source     || body.event || 'webhook',\n  bien:    property.description || '',\n  ville:   property.location?.city || '',\n  projet:  property.description ? 'Intéressé par : ' + property.description : '',\n};\n\nreturn [{ json: { ...lead, ...CONFIG } }];"
      },
      "id": "node-config",
      "name": "⚙️ Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Lignes de signature : on n'inclut que les valeurs renseignées\nconst sigLines = [\n  data.AGENT_NAME  ? `Nom : ${data.AGENT_NAME}`   : null,\n  data.AGENCE_NAME ? `Agence : ${data.AGENCE_NAME}` : null,\n  data.AGENT_EMAIL ? `Email : ${data.AGENT_EMAIL}`  : null,\n  data.AGENT_PHONE ? `Téléphone : ${data.AGENT_PHONE}` : null,\n].filter(Boolean);\nconst agentInfo = sigLines.join('\\n');\n\n// Bloc signature finale (sans libellés, juste les valeurs)\nconst sigValues = [\n  data.AGENT_NAME,\n  data.AGENCE_NAME,\n  data.AGENT_EMAIL,\n  data.AGENT_PHONE,\n].filter(v => v && v.trim() !== '').join('\\n');\n\nconst systemPrompt = `Tu es un conseiller immobilier. Voici qui tu es :\n\n${agentInfo}\n\nTa mission : analyser le lead entrant et générer des communications personnalisées au nom de cet agent.\n\nRègle absolue sur la signature : termine chaque email exactement par :\n${sigValues}\nNe mets jamais de placeholder comme [NOM], [EMAIL] ou [TÉLÉPHONE]. Si une info n'est pas fournie ci-dessus, tu ne l'inventes pas et tu ne laisses pas d'espace vide pour elle.\n\n## Critères de température\n- CHAUD (score 80-100) : projet précis, délai < 3 mois, fort engagement\n- TIÈDE (score 50-79) : projet en cours, délai 3-6 mois, engagement modéré\n- FROID (score 0-49) : projet vague, délai > 6 mois ou peu d'informations\n\n## Emails à rédiger (français, ton professionnel et chaleureux)\n- J0 Bienvenue : accuser réception, valeur ajoutée agence, inviter à échanger\n- J2 Relance : apporter de la valeur (conseil marché, info locale), proposition concrète d'appel\n- J7 Dernier contact : ton chaleureux, laisser la porte grande ouverte\n\nRéponds UNIQUEMENT avec un JSON valide sans bloc markdown :\n{\n  \"score\": <entier 0-100>,\n  \"temperature\": \"<chaud|tiede|froid>\",\n  \"score_raison\": \"<1 phrase expliquant le score>\",\n  \"email_bienvenue\": \"<corps complet email J0 sans ligne d'objet>\",\n  \"relance_j2\": \"<corps complet email J2 sans ligne d'objet>\",\n  \"relance_j7\": \"<corps complet email J7 sans ligne d'objet>\",\n  \"email_subjects\": {\n    \"j0\": \"<objet email J0>\",\n    \"j2\": \"<objet email J2>\",\n    \"j7\": \"<objet email J7>\"\n  }\n}`;\n\nconst userPrompt = `Analyse ce lead et génère les communications :\n\nSource : ${data.source || 'formulaire web'}\nPrénom : ${data.prenom || '(non renseigné)'}\nNom : ${data.nom || '(non renseigné)'}\nEmail : ${data.email || ''}\nTéléphone : ${data.tel || '(non renseigné)'}\nBien recherché : ${data.bien || '(non précisé)'}\nVille : ${data.ville || '(non précisée)'}\nProjet : ${data.projet || '(non précisé)'}\nMessage : ${data.message || '(aucun message)'}`;\n\nreturn [{ json: { ...data, _systemPrompt: systemPrompt, _userPrompt: userPrompt } }];"
      },
      "id": "node-0002",
      "name": "Construire Prompt Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $('⚙️ Configuration').first().json.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: $('Construire Prompt Claude').first().json._systemPrompt, messages: [{ role: 'user', content: $('Construire Prompt Claude').first().json._userPrompt }] }) }}",
        "options": {}
      },
      "id": "node-0003",
      "name": "Claude - Analyser Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst cfg  = $('⚙️ Configuration').first().json;\nconst lead = $('Construire Prompt Claude').first().json;\n\nconst rawText = claudeResponse.content?.[0]?.text || '';\nlet parsed;\ntry {\n  const cleaned = rawText.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Parse Claude impossible. Réponse : ' + rawText.substring(0, 300));\n}\n\nif (!parsed.score || !parsed.temperature || !parsed.email_bienvenue) {\n  throw new Error('Réponse Claude incomplète : ' + JSON.stringify(parsed).substring(0, 200));\n}\n\n// ── Palette couleurs dashboard ──────────────────────────\nconst C = {\n  ink:    '#1c1a16',\n  cream:  '#f7f4ee',\n  cream2: '#f0ebe0',\n  white:  '#ffffff',\n  gold:   '#b8893a',\n  gold2:  '#d4a853',\n  muted:  '#8a8478',\n  border: '#e0d8c8',\n};\n\nfunction buildEmail(bodyText, agentName, agentEmail) {\n  if (!bodyText) return '';\n  const esc = bodyText\n    .replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n  const paragraphs = esc\n    .split(/\\n\\n+/)\n    .map(p => `<p style=\"margin:0 0 16px 0;color:${C.ink};line-height:1.7\">${p.replace(/\\n/g,'<br>')}</p>`)\n    .join('');\n  return `<!DOCTYPE html>\n<html lang=\"fr\"><head><meta charset=\"UTF-8\">\n<link href=\"https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=Figtree:wght@300;400;500;600&display=swap\" rel=\"stylesheet\">\n</head>\n<body style=\"margin:0;padding:0;background:${C.cream};font-family:'Figtree',Helvetica,Arial,sans-serif\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:${C.cream}\">\n<tr><td align=\"center\" style=\"padding:32px 16px\">\n<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%\">\n\n<!-- HEADER -->\n<tr><td style=\"background:${C.ink};border-radius:12px 12px 0 0;padding:20px 32px\">\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"background:linear-gradient(135deg,${C.gold},${C.gold2});border-radius:8px;width:32px;height:32px;text-align:center;vertical-align:middle;color:${C.white};font-size:14px\">✦</td>\n    <td style=\"padding-left:10px;font-family:'Cormorant Garamond',Georgia,serif;font-size:22px;font-weight:400;color:${C.cream}\">\n      Lead<em style=\"font-style:italic;color:${C.gold2}\">Flow</em>\n    </td>\n  </tr></table>\n</td></tr>\n\n<!-- BODY -->\n<tr><td style=\"background:${C.white};padding:36px 40px;border-left:1px solid ${C.border};border-right:1px solid ${C.border}\">\n  ${paragraphs}\n</td></tr>\n\n<!-- CTA -->\n<tr><td style=\"background:${C.white};padding:0 40px 32px;border-left:1px solid ${C.border};border-right:1px solid ${C.border};text-align:center\">\n  <a href=\"mailto:${agentEmail}\" style=\"display:inline-block;background:${C.gold};color:${C.white};text-decoration:none;padding:12px 28px;border-radius:8px;font-family:'Figtree',Helvetica,Arial,sans-serif;font-weight:600;font-size:14px\">Répondre à votre conseiller</a>\n</td></tr>\n\n<!-- FOOTER -->\n<tr><td style=\"background:${C.cream2};border:1px solid ${C.border};border-radius:0 0 12px 12px;padding:20px 32px;text-align:center\">\n  <p style=\"margin:0;color:${C.muted};font-size:11px;letter-spacing:.5px\">${agentName} &nbsp;·&nbsp; Propulsé par <span style=\"color:${C.gold};font-weight:500\">LeadFlow</span></p>\n</td></tr>\n\n</table></td></tr></table>\n</body></html>`;\n}\n\n// ── Infos agent depuis le nœud Configuration ────────────\nconst agentName   = cfg.AGENT_NAME   || 'Votre agence';\nconst agentEmail  = cfg.AGENT_EMAIL  || 'contact@agence.com';\nconst senderEmail = cfg.SENDER_EMAIL || agentEmail;\nconst agentPhone  = cfg.AGENT_PHONE  || '';\n\nconst fullName = [lead.prenom, lead.nom].filter(Boolean).join(' ') || lead.email;\nconst temp     = (parsed.temperature || 'froid').toLowerCase();\nconst tempIcon = temp === 'chaud' ? '🔥' : temp === 'tiede' ? '🌤️' : '❄️';\nconst tempLabel = `${tempIcon} ${temp.toUpperCase()}`;\n\nconst subjects  = parsed.email_subjects || {};\nconst j0Subject = subjects.j0 || 'Votre demande immobilière';\nconst j2Subject = subjects.j2 || 'Un suivi sur votre projet';\nconst j7Subject = subjects.j7 || 'Toujours disponible pour vous';\n\n// Validation email — stoppe tôt avec un message clair\nif (!lead.email || !String(lead.email).includes('@')) {\n  throw new Error(\n    '[LeadFlow] Email invalide ou manquant. ' +\n    'Champs reçus dans lead : ' + Object.keys(lead).filter(k => !k.startsWith('_') && !k.startsWith('ANTHROPIC') && !k.startsWith('BREVO') && !k.startsWith('LEADFLOW') && !k.startsWith('AGENT') && !k.startsWith('SENDER')).join(', ') + '. ' +\n    'Email reçu : \"' + (lead.email || '(vide)') + '\". ' +\n    'Vérifiez que le webhook envoie bien un champ \"email\" dans le body.'\n  );\n}\n\nconst sender        = { name: agentName, email: senderEmail };\nconst leadRecipient = [{ email: lead.email, name: fullName || lead.email }];\n\n// ── Payloads Brevo pré-construits (réutilisables après Wait) ─\nconst brevoJ0 = JSON.stringify({\n  sender, to: leadRecipient,\n  subject: j0Subject,\n  htmlContent: buildEmail(parsed.email_bienvenue, agentName, agentEmail)\n});\n\nconst brevoJ2 = JSON.stringify({\n  sender, to: leadRecipient,\n  subject: j2Subject,\n  htmlContent: buildEmail(parsed.relance_j2, agentName, agentEmail)\n});\n\nconst brevoJ7 = JSON.stringify({\n  sender, to: leadRecipient,\n  subject: j7Subject,\n  htmlContent: buildEmail(parsed.relance_j7, agentName, agentEmail)\n});\n\n// ── SMS agent ────────────────────────────────────────────\nconst msgShort = (lead.message || '').substring(0, 120).replace(/\\n/g, ' ');\nconst smsContent =\n  `[LeadFlow] ${tempLabel}\\n` +\n  `${fullName}\\n` +\n  `${lead.email || ''}${lead.tel ? ' · ' + lead.tel : ''}\\n` +\n  `${lead.bien ? lead.bien + (lead.ville ? ', ' + lead.ville : '') + '\\n' : ''}` +\n  `Score : ${parsed.score}/100 — ${parsed.score_raison}\\n` +\n  (msgShort ? `\"${msgShort}\"` : '');\n\nconst brevoSMS = JSON.stringify({\n  sender: 'LeadFlow',\n  recipient: agentPhone,\n  content: smsContent.substring(0, 612)\n});\n\n// ── Payload LeadFlow ─────────────────────────────────────\nconst leadflowPayload = JSON.stringify({\n  id:              lead.id || String(Date.now()),\n  prenom:          lead.prenom  || '',\n  nom:             lead.nom     || '',\n  email:           lead.email   || '',\n  tel:             lead.tel     || '',\n  bien:            lead.bien    || '',\n  ville:           lead.ville   || '',\n  source:          lead.source  || '',\n  projet:          lead.projet  || '',\n  message:         lead.message || '',\n  score:           parsed.score,\n  score_raison:    parsed.score_raison,\n  email_bienvenue: parsed.email_bienvenue,\n  relance_j2:      parsed.relance_j2,\n  relance_j7:      parsed.relance_j7\n});\n\nreturn [{\n  json: {\n    id:          lead.id || String(Date.now()),\n    email:       lead.email,\n    prenom:      lead.prenom,\n    nom:         lead.nom,\n    score:       parsed.score,\n    temperature: temp,\n    _leadflow:   leadflowPayload,\n    _brevo_j0:   brevoJ0,\n    _brevo_j2:   brevoJ2,\n    _brevo_j7:   brevoJ7,\n    _brevo_sms:  brevoSMS\n  }\n}];"
      },
      "id": "node-0004",
      "name": "Parser Réponse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('⚙️ Configuration').first().json.LEADFLOW_URL }}/webhook/lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json._leadflow }}",
        "options": {}
      },
      "id": "node-0005",
      "name": "LeadFlow - Enregistrer Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $('⚙️ Configuration').first().json.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_j0 }}",
        "options": {}
      },
      "id": "node-0006",
      "name": "Brevo - Email Bienvenue J0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/transactionalSMS/sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $('⚙️ Configuration').first().json.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_sms }}",
        "options": {}
      },
      "id": "node-0007",
      "name": "Brevo - SMS Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "days",
        "options": {}
      },
      "id": "node-0008",
      "name": "Attendre 2 Jours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2140, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('⚙️ Configuration').first().json.LEADFLOW_URL + '/api/leads/' + $('Parser Réponse Claude').first().json.id }}",
        "options": {}
      },
      "id": "node-0009",
      "name": "Vérifier Statut Lead (J2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2380, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-j2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "new",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-0010",
      "name": "Lead encore nouveau ? (J2)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $('⚙️ Configuration').first().json.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_j2 }}",
        "options": {}
      },
      "id": "node-0011",
      "name": "Brevo - Relance J2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 200]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 5,
        "unit": "days",
        "options": {}
      },
      "id": "node-0012",
      "name": "Attendre 5 Jours (total J7)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3100, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('⚙️ Configuration').first().json.LEADFLOW_URL + '/api/leads/' + $('Parser Réponse Claude').first().json.id }}",
        "options": {}
      },
      "id": "node-0013",
      "name": "Vérifier Statut Lead (J7)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-j7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "new",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-0014",
      "name": "Lead encore nouveau ? (J7)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3580, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $('⚙️ Configuration').first().json.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_j7 }}",
        "options": {}
      },
      "id": "node-0015",
      "name": "Brevo - Relance J7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3820, 100]
    }
  ],
  "connections": {
    "Webhook Lead Entrant": {
      "main": [[{ "node": "⚙️ Configuration", "type": "main", "index": 0 }]]
    },
    "⚙️ Configuration": {
      "main": [[{ "node": "Construire Prompt Claude", "type": "main", "index": 0 }]]
    },
    "Construire Prompt Claude": {
      "main": [[{ "node": "Claude - Analyser Lead", "type": "main", "index": 0 }]]
    },
    "Claude - Analyser Lead": {
      "main": [[{ "node": "Parser Réponse Claude", "type": "main", "index": 0 }]]
    },
    "Parser Réponse Claude": {
      "main": [[{ "node": "LeadFlow - Enregistrer Lead", "type": "main", "index": 0 }]]
    },
    "LeadFlow - Enregistrer Lead": {
      "main": [[{ "node": "Brevo - Email Bienvenue J0", "type": "main", "index": 0 }]]
    },
    "Brevo - Email Bienvenue J0": {
      "main": [[{ "node": "Brevo - SMS Agent", "type": "main", "index": 0 }]]
    },
    "Brevo - SMS Agent": {
      "main": [[{ "node": "Attendre 2 Jours", "type": "main", "index": 0 }]]
    },
    "Attendre 2 Jours": {
      "main": [[{ "node": "Vérifier Statut Lead (J2)", "type": "main", "index": 0 }]]
    },
    "Vérifier Statut Lead (J2)": {
      "main": [[{ "node": "Lead encore nouveau ? (J2)", "type": "main", "index": 0 }]]
    },
    "Lead encore nouveau ? (J2)": {
      "main": [
        [{ "node": "Brevo - Relance J2", "type": "main", "index": 0 }],
        []
      ]
    },
    "Brevo - Relance J2": {
      "main": [[{ "node": "Attendre 5 Jours (total J7)", "type": "main", "index": 0 }]]
    },
    "Attendre 5 Jours (total J7)": {
      "main": [[{ "node": "Vérifier Statut Lead (J7)", "type": "main", "index": 0 }]]
    },
    "Vérifier Statut Lead (J7)": {
      "main": [[{ "node": "Lead encore nouveau ? (J7)", "type": "main", "index": 0 }]]
    },
    "Lead encore nouveau ? (J7)": {
      "main": [
        [{ "node": "Brevo - Relance J7", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {}
}
