n8n/workflow-source-imap.json
{
  "name": "LeadFlow - Source IMAP",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute", "value": 5 }]
        },
        "mailbox": "INBOX",
        "options": {
          "allowUnauthorizedCerts": false,
          "markSeen": true,
          "downloadAttachments": false
        }
      },
      "id": "imap-0001",
      "name": "IMAP - Surveiller Boite Mail",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": {
        "imap": { "id": "IMAP_CREDENTIAL_ID", "name": "IMAP Agence" }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// ⚙️  CONFIGURATION — Remplir cette valeur avant utilisation\n// ═══════════════════════════════════════════════════════\nconst N8N_WEBHOOK_BASE = 'https://REMPLACER.n8n.cloud'; // URL de ton instance n8n\n// ═══════════════════════════════════════════════════════\n\nconst email = $input.first().json;\n\nconst fromName  = email.from?.value?.[0]?.name  || '';\nconst fromEmail = email.from?.value?.[0]?.address || email.from?.text || '';\n\nconst parts  = fromName.trim().split(/\\s+/);\nconst prenom = parts[0]  || '';\nconst nom    = parts.slice(1).join(' ') || '';\n\nconst body = email.text\n  || (email.html || '').replace(/<[^>]+>/g, ' ').replace(/\\s{2,}/g, ' ').trim();\n\nconst msgId = (email.messageId || '').replace(/[<>]/g, '') || String(Date.now());\n\nreturn [{\n  json: {\n    id: 'imap_' + msgId,\n    prenom,\n    nom,\n    email: fromEmail,\n    tel: '',\n    bien: '',\n    ville: '',\n    source: 'email',\n    projet: email.subject || '',\n    message: body.substring(0, 3000),\n    _webhookUrl: N8N_WEBHOOK_BASE + '/webhook/leadflow-traitement'\n  }\n}];"
      },
      "id": "imap-0002",
      "name": "⚙️ Config + Normaliser Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._webhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ id: $json.id, prenom: $json.prenom, nom: $json.nom, email: $json.email, tel: $json.tel, bien: $json.bien, ville: $json.ville, source: $json.source, projet: $json.projet, message: $json.message }) }}",
        "options": {}
      },
      "id": "imap-0003",
      "name": "Envoyer au Workflow Principal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "IMAP - Surveiller Boite Mail": {
      "main": [[{ "node": "⚙️ Config + Normaliser Email", "type": "main", "index": 0 }]]
    },
    "⚙️ Config + Normaliser Email": {
      "main": [[{ "node": "Envoyer au Workflow Principal", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "pinData": {}
}
