n8n/workflow-source-sweepbright.json
{
  "name": "LeadFlow - Source SweepBright",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "sb-0001",
      "name": "Schedule - Toutes les 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// ⚙️  CONFIGURATION — Remplir ces valeurs avant utilisation\n// ═══════════════════════════════════════════════════════\nconst CONFIG = {\n  SWEEPBRIGHT_API_KEY: 'REMPLACER_PAR_CLE_SWEEPBRIGHT',\n  N8N_WEBHOOK_BASE:   'https://REMPLACER.n8n.cloud',\n};\n// ═══════════════════════════════════════════════════════\n\nreturn [{ json: CONFIG }];"
      },
      "id": "sb-config",
      "name": "⚙️ Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.sweepbright.com/v1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.SWEEPBRIGHT_API_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "new" },
            { "name": "created_after", "value": "={{ new Date(Date.now() - 20 * 60 * 1000).toISOString() }}" },
            { "name": "per_page", "value": "50" }
          ]
        },
        "options": {}
      },
      "id": "sb-0002",
      "name": "SweepBright - Récupérer Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst webhookUrl = $('⚙️ Configuration').first().json.N8N_WEBHOOK_BASE + '/webhook/leadflow-traitement';\n\nconst contacts = response.data || response.contacts || response || [];\nif (!Array.isArray(contacts) || contacts.length === 0) return [];\n\nreturn contacts.map(c => {\n  const firstName = c.first_name || c.firstName || '';\n  const lastName  = c.last_name  || c.lastName  || '';\n  const email     = c.email || (c.emails && c.emails[0]?.address) || '';\n  const phone     = c.phone || c.mobile || (c.phones && c.phones[0]?.number) || '';\n\n  const prop  = (c.properties_of_interest && c.properties_of_interest[0]) || c.property || {};\n  const bien  = prop.type ? `${prop.type}${prop.bedrooms ? ' ' + prop.bedrooms + ' ch.' : ''}`.trim() : '';\n  const ville = prop.city || prop.location || '';\n\n  return {\n    json: {\n      id: 'sb_' + (c.id || c.uuid || String(Date.now())),\n      prenom: firstName,\n      nom: lastName,\n      email,\n      tel: phone,\n      bien,\n      ville,\n      source: 'sweepbright',\n      projet: c.project_type || c.interest_type || '',\n      message: c.notes || c.message || c.description || '',\n      _webhookUrl: webhookUrl\n    }\n  };\n});"
      },
      "id": "sb-0003",
      "name": "Normaliser Contacts SweepBright",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._webhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ id: $json.id, prenom: $json.prenom, nom: $json.nom, email: $json.email, tel: $json.tel, bien: $json.bien, ville: $json.ville, source: $json.source, projet: $json.projet, message: $json.message }) }}",
        "options": {}
      },
      "id": "sb-0004",
      "name": "Envoyer au Workflow Principal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Schedule - Toutes les 15 min": {
      "main": [[{ "node": "⚙️ Configuration", "type": "main", "index": 0 }]]
    },
    "⚙️ Configuration": {
      "main": [[{ "node": "SweepBright - Récupérer Contacts", "type": "main", "index": 0 }]]
    },
    "SweepBright - Récupérer Contacts": {
      "main": [[{ "node": "Normaliser Contacts SweepBright", "type": "main", "index": 0 }]]
    },
    "Normaliser Contacts SweepBright": {
      "main": [[{ "node": "Envoyer au Workflow Principal", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "pinData": {}
}
