n8n/workflow-traitement-lead.json
{
  "name": "LeadFlow - Traitement Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadflow-traitement",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-0001",
      "name": "Webhook Lead Entrant",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "leadflow-traitement"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nconst systemPrompt = `Tu es un expert en relation client pour une agence immobilière.\nTa mission : analyser le lead entrant et générer des communications personnalisées.\n\n## Critères de température\n- CHAUD (score 80-100) : projet précis, délai < 3 mois, fort engagement\n- TIÈDE (score 50-79) : projet en cours, délai 3-6 mois, engagement modéré\n- FROID (score 0-49) : projet vague, délai > 6 mois ou peu d'informations\n\n## Emails à rédiger (français, ton professionnel et chaleureux)\n- J0 Bienvenue : accuser réception, valeur ajoutée agence, inviter à échanger\n- J2 Relance : apporter de la valeur (conseil marché, info locale), proposition concrète d'appel\n- J7 Dernier contact : ton chaleureux, laisser la porte grande ouverte\n\nRéponds UNIQUEMENT avec un JSON valide sans bloc markdown :\n{\n  \"score\": <entier 0-100>,\n  \"temperature\": \"<chaud|tiede|froid>\",\n  \"score_raison\": \"<1 phrase expliquant le score>\",\n  \"email_bienvenue\": \"<corps complet email J0 sans ligne d'objet>\",\n  \"relance_j2\": \"<corps complet email J2 sans ligne d'objet>\",\n  \"relance_j7\": \"<corps complet email J7 sans ligne d'objet>\",\n  \"email_subjects\": {\n    \"j0\": \"<objet email J0>\",\n    \"j2\": \"<objet email J2>\",\n    \"j7\": \"<objet email J7>\"\n  }\n}`;\n\nconst userPrompt = `Analyse ce lead et génère les communications :\n\nSource : ${lead.source || 'formulaire web'}\nPrénom : ${lead.prenom || '(non renseigné)'}\nNom : ${lead.nom || '(non renseigné)'}\nEmail : ${lead.email || ''}\nTéléphone : ${lead.tel || '(non renseigné)'}\nBien recherché : ${lead.bien || '(non précisé)'}\nVille : ${lead.ville || '(non précisée)'}\nProjet : ${lead.projet || '(non précisé)'}\nMessage : ${lead.message || '(aucun message)'}`;\n\nreturn [{ json: { ...lead, _systemPrompt: systemPrompt, _userPrompt: userPrompt } }];"
      },
      "id": "node-0002",
      "name": "Construire Prompt Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: $json._systemPrompt, messages: [{ role: 'user', content: $json._userPrompt }] }) }}",
        "options": {}
      },
      "id": "node-0003",
      "name": "Claude - Analyser Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst lead = $('Construire Prompt Claude').first().json;\n\n// Extraire le texte de la réponse Claude\nconst rawText = claudeResponse.content?.[0]?.text || '';\n\n// Parser le JSON retourné par Claude\nlet parsed;\ntry {\n  const cleaned = rawText.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Parse Claude impossible. Réponse : ' + rawText.substring(0, 300));\n}\n\nif (!parsed.score || !parsed.temperature || !parsed.email_bienvenue) {\n  throw new Error('Réponse Claude incomplète : ' + JSON.stringify(parsed).substring(0, 200));\n}\n\n// Convertir texte en HTML lisible\nfunction toHtml(text) {\n  if (!text) return '<p></p>';\n  const escaped = text.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  return '<div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.7;color:#333;\">'\n    + '<p>' + escaped.replace(/\\n\\n+/g, '</p><p>').replace(/\\n/g, '<br>') + '</p>'\n    + '</div>';\n}\n\n// Variables d'environnement n8n\nconst agentName   = $vars.AGENT_NAME   || 'Votre agence';\nconst agentEmail  = $vars.AGENT_EMAIL  || 'contact@agence.com';\nconst senderEmail = $vars.SENDER_EMAIL || agentEmail;\n\nconst fullName = [lead.prenom, lead.nom].filter(Boolean).join(' ') || lead.email;\nconst temp = (parsed.temperature || 'froid').toLowerCase();\nconst tempLabel = temp === 'chaud' ? '🔥 CHAUD' : temp === 'tiede' ? '🌤️ TIÈDE' : '❄️ FROID';\n\nconst subjects = parsed.email_subjects || {};\nconst j0Subject = subjects.j0 || 'Votre demande immobilière';\nconst j2Subject = subjects.j2 || 'Un suivi sur votre projet';\nconst j7Subject = subjects.j7 || 'Toujours disponible pour vous';\n\nconst sender = { name: agentName, email: senderEmail };\nconst leadRecipient = [{ email: lead.email, name: fullName }];\n\n// Payloads Brevo pré-construits (JSON strings) réutilisés après les Wait nodes\nconst brevoJ0 = JSON.stringify({\n  sender, to: leadRecipient,\n  subject: j0Subject,\n  htmlContent: toHtml(parsed.email_bienvenue)\n});\n\nconst brevoJ2 = JSON.stringify({\n  sender, to: leadRecipient,\n  subject: j2Subject,\n  htmlContent: toHtml(parsed.relance_j2)\n});\n\nconst brevoJ7 = JSON.stringify({\n  sender, to: leadRecipient,\n  subject: j7Subject,\n  htmlContent: toHtml(parsed.relance_j7)\n});\n\n// Email récapitulatif agent\nconst scoreColor = parsed.score >= 80 ? '#22c55e' : parsed.score >= 50 ? '#f59e0b' : '#6b7280';\nconst agentHtml = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#1e40af;border-bottom:2px solid #e2e8f0;padding-bottom:8px\">Nouveau lead — ${tempLabel}</h2>\n  <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n    <tr style=\"background:#f8fafc\"><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold;width:35%\">Nom</td><td style=\"padding:10px;border:1px solid #e2e8f0\">${fullName}</td></tr>\n    <tr><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold\">Email</td><td style=\"padding:10px;border:1px solid #e2e8f0\"><a href=\"mailto:${lead.email}\">${lead.email}</a></td></tr>\n    <tr style=\"background:#f8fafc\"><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold\">Téléphone</td><td style=\"padding:10px;border:1px solid #e2e8f0\">${lead.tel || 'N/A'}</td></tr>\n    <tr><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold\">Bien</td><td style=\"padding:10px;border:1px solid #e2e8f0\">${lead.bien || 'N/A'}</td></tr>\n    <tr style=\"background:#f8fafc\"><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold\">Ville</td><td style=\"padding:10px;border:1px solid #e2e8f0\">${lead.ville || 'N/A'}</td></tr>\n    <tr><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold\">Projet</td><td style=\"padding:10px;border:1px solid #e2e8f0\">${lead.projet || 'N/A'}</td></tr>\n    <tr style=\"background:#f8fafc\"><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold\">Source</td><td style=\"padding:10px;border:1px solid #e2e8f0\">${lead.source || 'N/A'}</td></tr>\n    <tr><td style=\"padding:10px;border:1px solid #e2e8f0;font-weight:bold\">Score IA</td><td style=\"padding:10px;border:1px solid #e2e8f0\"><strong style=\"color:${scoreColor}\">${parsed.score}/100</strong><br><em>${parsed.score_raison}</em></td></tr>\n  </table>\n  <h3 style=\"color:#374151\">Message du lead</h3>\n  <div style=\"background:#f8fafc;padding:15px;border-left:4px solid #3b82f6;border-radius:4px\">${(lead.message||'Aucun message').replace(/\\n/g,'<br>')}</div>\n  <p style=\"color:#9ca3af;font-size:12px;margin-top:20px\">Email J0 envoyé · Relances J2 et J7 planifiées automatiquement</p>\n</div>`;\n\nconst brevoAgent = JSON.stringify({\n  sender,\n  to: [{ email: agentEmail, name: agentName }],\n  subject: `[LeadFlow] Lead ${tempLabel} — ${fullName} (${parsed.score}/100)`,\n  htmlContent: agentHtml\n});\n\n// Payload LeadFlow (pour enregistrement en base)\nconst leadflowPayload = JSON.stringify({\n  id: lead.id || String(Date.now()),\n  prenom: lead.prenom || '',\n  nom: lead.nom || '',\n  email: lead.email || '',\n  tel: lead.tel || '',\n  bien: lead.bien || '',\n  ville: lead.ville || '',\n  source: lead.source || '',\n  projet: lead.projet || '',\n  message: lead.message || '',\n  score: parsed.score,\n  score_raison: parsed.score_raison,\n  email_bienvenue: parsed.email_bienvenue,\n  relance_j2: parsed.relance_j2,\n  relance_j7: parsed.relance_j7\n});\n\nreturn [{\n  json: {\n    id: lead.id || String(Date.now()),\n    email: lead.email,\n    prenom: lead.prenom,\n    nom: lead.nom,\n    score: parsed.score,\n    temperature: temp,\n    // Payloads pré-construits (réutilisés après Wait nodes)\n    _leadflow: leadflowPayload,\n    _brevo_j0: brevoJ0,\n    _brevo_j2: brevoJ2,\n    _brevo_j7: brevoJ7,\n    _brevo_agent: brevoAgent\n  }\n}];"
      },
      "id": "node-0004",
      "name": "Parser Réponse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.LEADFLOW_URL }}/webhook/lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json._leadflow }}",
        "options": {}
      },
      "id": "node-0005",
      "name": "LeadFlow - Enregistrer Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $vars.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_j0 }}",
        "options": {}
      },
      "id": "node-0006",
      "name": "Brevo - Email Bienvenue J0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $vars.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_agent }}",
        "options": {}
      },
      "id": "node-0007",
      "name": "Brevo - Résumé Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "days",
        "options": {}
      },
      "id": "node-0008",
      "name": "Attendre 2 Jours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $vars.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_j2 }}",
        "options": {}
      },
      "id": "node-0009",
      "name": "Brevo - Relance J2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 5,
        "unit": "days",
        "options": {}
      },
      "id": "node-0010",
      "name": "Attendre 5 Jours (total J7)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2380, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $vars.BREVO_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parser Réponse Claude').first().json._brevo_j7 }}",
        "options": {}
      },
      "id": "node-0011",
      "name": "Brevo - Relance J7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 300]
    }
  ],
  "connections": {
    "Webhook Lead Entrant": {
      "main": [[{ "node": "Construire Prompt Claude", "type": "main", "index": 0 }]]
    },
    "Construire Prompt Claude": {
      "main": [[{ "node": "Claude - Analyser Lead", "type": "main", "index": 0 }]]
    },
    "Claude - Analyser Lead": {
      "main": [[{ "node": "Parser Réponse Claude", "type": "main", "index": 0 }]]
    },
    "Parser Réponse Claude": {
      "main": [[{ "node": "LeadFlow - Enregistrer Lead", "type": "main", "index": 0 }]]
    },
    "LeadFlow - Enregistrer Lead": {
      "main": [[{ "node": "Brevo - Email Bienvenue J0", "type": "main", "index": 0 }]]
    },
    "Brevo - Email Bienvenue J0": {
      "main": [[{ "node": "Brevo - Résumé Agent", "type": "main", "index": 0 }]]
    },
    "Brevo - Résumé Agent": {
      "main": [[{ "node": "Attendre 2 Jours", "type": "main", "index": 0 }]]
    },
    "Attendre 2 Jours": {
      "main": [[{ "node": "Brevo - Relance J2", "type": "main", "index": 0 }]]
    },
    "Brevo - Relance J2": {
      "main": [[{ "node": "Attendre 5 Jours (total J7)", "type": "main", "index": 0 }]]
    },
    "Attendre 5 Jours (total J7)": {
      "main": [[{ "node": "Brevo - Relance J7", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {}
}
